body {
  margin: auto;
  display: flex;
}

.cuadrado {
  box-sizing: border-box;
  border: solid black;
  border-radius: 32px;
  background-color: gray;
  width: 20rem;
  height: 20rem;
  cursor: pointer;
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cuadrado img {
  width: 18rem;
  height: 18rem;
  border-radius: 32px;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.cuadrado.flipped img {
  transform: rotateY(180deg);
}
